* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'LaoMN','TaipeiSansTCBeta-Light';
    }

    @font-face {
        font-family: TaipeiSansTCBeta;
        src: url(./font/TaipeiSansTCBeta.ttf);
        font-family: LaoMN;
        src: url(./font/LaoMN.ttc);
      }

    h4{ font-family: LaoMN;
        font-weight: 500; }


    /* 修改navbar漢堡按下去方向 */
 .navbar{
   width: 30%;
   height: 100vh;
 }
 #main {
    transition:ease-in-out.5s; 
  }

.navbar-toggler {
    border: none;
    position: absolute;
    top: 10px;
    right: 25px;
}

.menu__icon--close{
  color: white;
  font-size: 30px;
  border: none;
}
.menu__icon--open{
    border: none;
    color: white;
    font-size: 30px;
}



[aria-expanded="false"] .menu__icon--open {
    display: inline;
    border: none;
  }
  [aria-expanded="false"] .menu__icon--close {
    display: none;
    border: none;
  }
  [aria-expanded="true"] .menu__icon--open {
    display: none;
    border: none;
  }
  [aria-expanded="true"] .menu__icon--close {
    display: inline;
    border: none;
  }

